# =====================
# Unity .gitignore
# =====================

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.tmp
*.userprefs
*.pidb
*.booproj

# OS / Editor junk
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Addressables
aa/

# JetBrains
.idea/